.cart{
    width: 30%;
    background-color:  white;
    padding: 30px;
    border-radius: 10px;
    flex-shrink: 0;
}

.cart h3{
    font-size: 30px;
    font-weight: bold;
    color: #C83B0E;
    margin-bottom: 10px;
}





.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}



.emptyCart p{
    font-size: 17px;
    font-weight: 500;
    color: #7d7572;
    margin-bottom: 30px;
}




.cart .items{
    display: none;
}







.cart .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.cart .item .name{
    font-size: 19px;
    font-weight: bold;
    color: #2B1913;
    margin-bottom: 8px;
}

.cart .item .qty{
    font-weight: bold;
    color: #C83B0E;
    margin-right: 8px;
}

.cart .item .price{
    font-weight: bold;
    color: #a8a5a3;
    margin-right: 8px;

}

.cart .item .total{
    font-weight: bold;
    color: #7f7f7f;
}

.cart .item .icon{
    font-size: 20px;
    color: #a8a5a3;
    cursor: pointer;
}
.cart .details{
    display: none;
}

.cart-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.cart-total p{  
    color: #7f7f7f;

}

.cart-total h2{
    color: #2B1913;
}

.cart .info{
    text-align: center;
    padding: 15px;
    background-color: #FCF8F5 ;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cart .info b{
    color: #2B1913;
}

.cart .btn{
    width: 100%;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    background-color: #C83B0E;
    cursor: pointer;
}

@media  (max-width: 768px){
    .cart{
        width: 100%;
        padding: 20px;
    }
    /* .cart h3{
        font-size: 26px;
    }
    .item .name{
        font-size: 16px;
    }
    .qty , .price , .total{
        font-size: 14px;
    }

    .cart .info {
        padding: 13px;
        font-size: 14px;
    }
     */
}


@media  (max-width: 568px){
    .cart{
        width: 100%;
        padding: 20px;
    }
    .cart h3{
        font-size: 26px;
    }
    .cart .item .name{
        font-size: 16px;
    }
    .qty , .price , .total{
        font-size: 14px;
    }

    .cart .info {
        padding: 13px;
        font-size: 14px;
    }
    
}