@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Red Hat Text", sans-serif;

}

.container {
    padding: 6.5%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background-color: #FCF8F5;
}

.products{
    width: 66%;
}

.products h1{
    

    color: #2B1913;
    font-size: 42px;
    font-weight: 900;
   
    margin-bottom: 25px;

}

.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


.product .image{
    border-radius: 10px;
    width: 285px;
    height: 285px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-cart{
    /* width: 60%; */
    position: relative;
    bottom: 30px;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: "Red Hat Text", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: white;

    padding: 12px;
    margin: 0 50px;
    border: 10px;
    border-radius: 70px;
    border: 1px solid #7d7572;
}

.product .details{
    margin-top: -15px; 
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.add-cart i{
    font-size: 17px;
    color: #C83B0E;
}

.product .name{
    color: #7d7572;
}

.product .title{
    font-size: 19px;
    font-weight: 600;
    color: #2B1913;
}

.product .price{
    font-size: 19px;
    font-weight: 600;
    color: #C83B0E;
}


